cava/shaders
Code/
Electron/
dconf/
discordo/
eDEX-UI/
gh/
go/
gtk-2.0/
kraxarn/
Joplin/
joplin-desktop/
libreoffice/
mimeapps.list
nyaa/
obs-studio/
pulse/
QtProject.conf
spotify/
systemd/
thorium/
vesktop/
VirtualBox/
vscode-sqltools/
vlc/
xfce4/
*.scm
*.log
